<app-menu-bar></app-menu-bar>
<body id="grad1"  style="background-color:rgb(0, 247, 255);">
      <br> <br>

      <h1 style="text-align:center">Our Team of Developers</h1>
      <br> <br>
             <div  style="background-color: grey;" >
              <h1 style="text-align:center"> Shubhankar </h1>
              <h1 style="text-align:center"> Golu </h1>
              <h1 style="text-align:center"> Rithik </h1>
              <h1 style="text-align:center"> Sharath </h1>
              <h1 style="text-align:center"> Sabhilash </h1>
              <h1 style="text-align:center"> Shrruthy </h1>
            </div>      
      </body>
      
       
   