<!-- <p>navbar works!</p> -->
<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu_book</mat-icon>
   </button>
   <span>TrueEvalute</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon mr40 " aria-label="Example icon-button with heart icon" routerLink="/categories">
     <!-- <mat-icon>face</mat-icon> -->
     Category
   </button>
   <button mat-icon-button class="example-icon ml40 mr40" aria-label="Example icon-button with share icon" routerLink="/quizzes">
    Quizes
  </button>
  <button mat-icon-button class="example-icon ml40 mr40" aria-label="Example icon-button with share icon" routerLink="">
    <mat-icon>home</mat-icon>
  </button>
 </mat-toolbar>

 <!-- <mat-card>
    
    <mat-action-list>
        <div mat-subheader><h1>Menu</h1>
        </div>


    </mat-action-list>


 </mat-card> -->